.footer-links {
    background-color: #221652;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.footer-links ul {
    margin: 0;

}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

.footer-links a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

.footer-links p {
    margin: 10px 0 0;
}